<div class="question_tile">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Question: {{model.question.title}}
    </div>
    <div class="panel-body">
      {{model.question.body}}
    </div>
    <div class="panel-footer">
      Posted by: {{model.question.author}}
    </div>
  </div>
</div>

<div class="answer_tile">
  {{#each model.question.answer as |answer|}}
    {{answer.title}}
  {{/each}}
</div>

{{delete-question model=model deleteQuestion="deleteQuestion"}}
{{update-question model=model updateQuestion="updateQuestion"}}

Answer:
{{add-answer question=model.question answer=model.answer addAnswer="addAnswer"}}
