<h4>{{model.question.title}}</h4>
<p>{{model.question.body}}</p>
<h6>Posted by: {{model.question.author}}</h6>

{{update-question model=model updateQuestion="updateQuestion"}}
{{delete-question model=model deleteQuestion="deleteQuestion"}}
